canvas {
    display: block;
    vertical-align: bottom;
  }
  #particles-js {
    position: fixed;
    width: 100%;
    height: 170%;
    background: #00356b;
  }
          body {
      
      /*background-image: url(../img/bluebg.jpg);*/
      /*background-image: url(/static/img/bg3.png);*/
      /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
      background: #00356b;
      /*background-size: 400% 400%;*/
      /*animation: gradient 5s ease infinite;*/
      /*height: 100vh;*/
      -ms-overflow-style: none;  
      scrollbar-width: none; 
      /*z-index: 0;*/
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  body::-webkit-scrollbar {
      display: none;
  }
  
  .container {
      background-color: #e5e5e5;
      min-height: 800px;
      border-color: lightgray;
      /*animation: fadeIn 1.5s;*/
      box-shadow: 0 20px 25px rgba(0, 0, 0, 1);
      border-radius: 16px;
      position: relative; 
      opacity:0.9;
  }
  
  @keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
  @keyframes fadeInUp {
      from {
          transform: translate3d(0,0,0)
      }
  
      to {
          transform: translate3d(0,20px,0);
          opacity: 1
      }
  }
  
  .animatedFadeInUp {
      opacity: 0
  }
  
  @-webkit-keyframes fadeInUp {
      from {
          transform: translate3d(0,20px,0)
      }
  
      to {
          transform: translate3d(0,0,0);
          opacity: 1
      }
  }
  
  .animated {
      animation-duration: 1.3s;
      animation-fill-mode: both;
      -webkit-animation-duration: 1.3s;
      -webkit-animation-fill-mode: both
  }
  
  .fadeInUp {
      opacity: 0;
      animation-name: fadeInUp;
      -webkit-animation-name: fadeInUp;
  }
  
  button {
      margin: 30px;
  }
  
  .heading {
      margin-top: 50px;
      color: black;
  }
  
  
  .row-content {
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
  }
  
  .logo {
      max-width: 100%;
      /*border: 2px #ff9999;*/
      /*border-style: double;*/
      padding: 30px;
      /*border-radius: 8px;*/
  }
  
  .description {
      font-size: 18px;
      text-align: center;
      margin-top: 10px;
      font-style: italic;
      font-family: sans-serif;
  }
  
  .hidden {
      position: absolute;
      overflow: hidden;
      width: 0;
      height: 0;
      pointer-events: none;
  }
  
  .content {
      width: 100%;
      max-width: 800px;
      text-align: center;
      margin: 0 auto;
      /*padding: 0 0 3em 0;*/
  }
  
  /*.box {
      background-color: #dfc8ca;
      padding: 6.25rem 1.25rem;
  }
  
  .box + .box {
      margin-top: 2.5rem;
  }*/
  
  
  .js .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }
  
  .inputfile + label {
      max-width: 80%;
      font-size: 1.25rem;
      /* 20px */
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      padding: 0.625rem 1.25rem;
      /* 10px 20px */
  }
  
  .no-js .inputfile + label {
      display: none;
  }
  
  .inputfile:focus + label,
  .inputfile.has-focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
  }
  
  
  
  .inputfile-1 + label {
      color: #d3394c;
      border: 2px solid currentColor;
      border-radius: 8px;
  }
  
  
  .inputfile-1 + label:hover {
      color: #722040;
  }
  
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff6666; 
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ff3333; 
  }
  
  .fa-input {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    
  }
  
  
  input[type=submit] {
      /*border: 1px solid #ff0000;*/
      border-radius: 8px;
      background-color: #ff3333;
      padding: 10px 0px;
      color: #e8e8e8;
      /*font-weight: bold;*/
      font-size: 25px;
  }
  input[type=submit]::before {
      font-family: "Font Awesome 5 Brands"; content: "\f099";
    }
  
  
  input[type=submit]:hover {
      opacity: 1;
      background-color: #ff0000;
      transition: 0.5s;
      color: #ffffff;
      transform: scale(1.1);
      box-shadow:  10px 5px rgba(0,0,0,0.2);
  }
  
  .hide {
      visibility: hidden;
  }
  
  .download {
      margin-bottom: 40px;
  }
  
  #headsvg path {
      /*stroke-dasharray: 1000;*/
      stroke-dashoffset: 0;
  }